<html>
    <!-- fron awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">  
    
            <div class="center">
            <h1>Add new category</h1> 
        

              <mat-form-field>
                <input matInput placeholder="New category" required #newCategory class="my-input">
              </mat-form-field>
              
            
        <button mat-button (click)="addCategory(newCategory.value)" class="my-button">Add category</button>     
    </div>

    

</html>