


h1{
   
  text-align: center;
}

.my-button:hover{
    background-color: #33afa9;
  
  }
  .my-button{
    width:100%;
    color: #d8d44b;
    background: none;
  }
mat-select{
  padding-top:5px;
  padding-bottom:5px;
}