<html>
   

    <!-- fron awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">  
    
    
        <div class="center">
           
                         <h1>Administrator login</h1>
            

              <mat-form-field>
                <!-- Email -->
                <input matInput placeholder="Enter your email"  required #email>
                <!-- <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error> -->

              </mat-form-field>
     
        
            <mat-form-field>
            <!-- password -->
            <input matInput placeholder="Enter your password" [type]="hide ? 'password' : 'text'" #password>
            <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
              
            </mat-form-field>

            <!-- smallbutton -->
        <button mat-button class="my-button" (click)="loginAdmin(email.value, password.value)">Login</button>
            
        </div>
        
        


</html>


